.card {
    background-color: var(--azul-card);
    display: inline-block;
    padding: 0;
    width: 280px;
}

.card__img {
    background-color: var(--cinza-claro);
}

/* Pedido */

.pedido__form-section .card {
    width: 180px;
}