.menu__section {
    align-items: center;
    display: flex;
    gap: 0.7rem;
}

.menu__logo {
    width: 60px;
}

.menu__canvas {
    background-color: var(--azul-nav);
    box-shadow: 2px 0 30px #000;
}

.menu__lista {
    padding: 0;
}

.menu__item {
    border-left: 2px solid;
    cursor: pointer;
    font-size: 1.4rem;
    list-style-type: none;
    margin: 1rem 0;
    padding: .5rem .5rem;
    transition: .2s;
    width: 100%;
}

.menu__item:hover {
    border-left-color: var(--verde);
}

.menu__item a {
    display: block;
    text-decoration: none;
}