.pedido {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pedido__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 50px; 
}

.pedido__form-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.pedido__qtd input[type=number] {
    text-align: center;
    width: 30px;
}

.pedido__qtd span {
    background-color: var(--azul-nav);
}

.pedido__qtd__lixo {
    font-size: 1rem;
}