.torrada {
    animation: show .7s ease-in-out;
    background-color: #5FD068;
    border-radius: 5px;
    bottom: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    color: #fefefe;
    font-size: 1.4rem;
    left: 50%;
    padding: 1rem;
    position: fixed;
    transform: translateX(-50%);
}

.torrada p {
    margin: 0;
}

@keyframes show {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.torrada--none {
    animation: hidden 1s ease-in-out;
    opacity: 0;
}

@keyframes hidden {
    from { opacity: 1 }
    to { opacity: 0 }
}