.rodape__img {
    width: 150px;
}

.rodape__contato {
    border-left: 1px solid #bbb;
}

.rodape__contato * {
    color: var(--preto);
}

.rodape__contato-endereco {
    font-weight: 300;
    padding: 0 1rem;
}