@media all and (min-width: 480px) {
    .Login {
      padding-top: 5px;
      color: #ffffff;
      text-align :center ;
    }
  
    .Loginform {
      margin: 50px auto;
      max-width: 320px;
      text-align: center;
      color: #ffffff;
      
    }

    .grid-container {
      display: grid;
      grid-auto-columns: auto;
      padding: 0px;
      margin-left: 50px;
      margin-right: 50px;
      
    }
    
    .grid-item {
      margin-left: center;
      margin-right: 100px;
      margin-top: 10px;
      padding: 10px;
      font-size: 30px;
      text-align: center;
      grid-gap: 10px 10px;
    }
  }