.ingrediente {
    width: 50%;
    height: fit-content;
    margin: 10px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    left: 0;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.section {
    padding: 10px;
    border-radius: 10px;
    background-color: #3282b8;
}

.section-btn{
    background-color: none;
}

.ingrediente img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}